
*{
    box-sizing: border-box;
}
body{
     margin: 0;
     padding: 0;
     font-family: sans-serif;
     font-size: 16px;
     color: #fff;
     background-color: brown;
    /*background: url("");*/
    /*height: 500px;
    width: 300px;
    background-size:cover;
    background-position: center; */

}
.FormInscrs{
    width: 370px;
    height: 600px;
    
    background-color: white;
    margin: 50px auto;
    padding: 30px;
    border-radius: 5px;
    border-top: 4px solid #1d4adb ;
    border-bottom: 5px solid #1d4adb ;
    box-shadow: 0 0 10px #000;
}
.Form-saisie input{
    width: 100%;
    font-size: 16px;
    outline: none;
    background-color:#1f1f22;
    color:#fff; 
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 8px;

}
.Form-saisie input[type="submit"]{
    width: 60%;
    font-size: 12px;
    background-color:blue; 
    color: #fff;
    margin: 10px 0;
    padding: 30px;
    border-radius:10px ;
    cursor: pointer;
    margin-bottom: 10px;
}

.Form-saisie input[type="submit"].btnInscri:hover{
    background: red;
}
.Form-saisie a{
    font-size: 14px;
    font-weight: bold;
    color:#1d4adb; 
    
}
.Formconn{
    width: 370px;
    height: 450px;
    
    background-color: white;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 30px;
    border-radius: 5px;
    border-top: 4px solid #1d4adb ;
    border-bottom: 5px solid #1d4adb ;
    box-shadow: 0 0 10px #000;
}
.Form-saisie input[type="submit"]{
    width: 60%;
    font-size: 12px;
    background-color:#1d4adb; 
    color: #fff;
    margin: 10px 0;
    padding:  10px;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 10px;
}
h3{
    font-size: 15px;
    margin-top: -15px;
    float: right;
    color: blue;
    
}
h1{
   margin-top: -15px;
   color: black;
}
span{
    margin-bottom: 20px;
    color: black;
}
section{
    display: flex;
    flex-wrap: wrap;
}
section .image{
    margin-top: -25px;
    float: left;
    margin-right: 30px;
}
p{
    color: black;
}

h1{
    text-align: center;
}