<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title> Connexion </title>
  <link rel="stylesheet" type="text/css" href="CSS/style_connexion.css">
</head>
<body>
 <div class="Formconn">
  <section>
    <!-- <center><p>CONNEXION</p></center> -->
  <!-- <div><h1>LIGHT SCHOOL</h1></div> -->
  <!-- <div class="image"><img src="Img/logo.JPEG" width="60px" height="40px"></div> -->
  </section>
  <h3>CONNEXION</h3>
  <div class="Form-text"></div>
  <div class="Form-saisie">
    <form method="POST" action="">

      <span>login:</span>
      <input type="email" name="mail" placeholder="Adresse e-mail" required/>

      <span>Mot de passe:</span>
      <input type="password" name="pass" placeholder=" Mot de passe" required/>
      <!-- <a href="#">mot de pass oublié ?</a> -->
     <center> <input type="submit" name="login" value="SE CONNECTER" class="btnconn"> </center>
      <P>mot de pass oublié ? <a href="inscription.html">Inscrivez-vous</a></P>
    </form>
   </div>
  </div>
</body>
</html>